<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Values differ per environment -->
    <add key="EdubaseUsername" value=""/>
    <add key="EdubasePassword" value=""/>
    <add key="ApprenticeshipIndexAlias" value="localapprenticeshipindexalias" />
    <add key="ProviderIndexAlias" value="localproviderindexalias" />
    <add key="LarsIndexAlias" value="locallarsindexalias" />
    <add key="AssessmentOrgsIndexAlias" value="localassessmentorgsindexalias" />
    
    <add key="Apprenticeship.QueueName" value="daslocalapprenticeshipqueue" />
    <add key="Provider.QueueName" value="daslocalproviderqueue" />
    <add key="Lars.QueueName" value="daslocallarsqueue" />
    <add key="AssessmentOrgs.QueueName" value="daslocalassessmentorgsqueue" />

    <add key="Apprenticeship.MonitoringUrl" value="" />
    <add key="Provider.MonitoringUrl" value="" />
    <add key="Lars.MonitoringUrl" value="" />
    <add key="AssessmentOrgs.MonitoringUrl" value="" />

    <add key="StorageConnectionString" value="UseDevelopmentStorage=true;" />
    <add key="EnvironmentName" value="local" />
    <add key="ElasticServerUrls" value="http://127.0.0.1:9200,http://192.168.99.100:9200,http://docker.local:9200" />
    <add key="MetadataApiUri" value="" />
    <add key="ApprenticeshipIndexShards" value="1" />
    <add key="ApprenticeshipIndexReplicas" value="0" />
    <add key="ProviderIndexShards" value="1" />
    <add key="ProviderIndexReplicas" value="0" />
    <add key="LarsIndexShards" value="1" />
    <add key="LarsIndexReplicas" value="0" />
    <add key="CourseDirectoryUri" value="https://dasapidev.coursedirectoryproviderportal.org.uk/dasapi" />
    <add key="VstsAssessmentOrgsUrl" value="https://sfa-gov-uk.visualstudio.com/DefaultCollection/c39e0c0b-7aff-4606-b160-3566f3bbce23/_api/_versioncontrol/itemContent?repositoryId=9b4f676e-ce9a-4f10-a043-0ec9e5bf053c&amp;path=%2FassessmentOrgs%2Flocal%2FassessmentOrgs.xlsx&amp;version=GBmaster&amp;contentOnly=false&amp;__v=5" />
    <add key="VstsRoatpUrl" value="https://sfa-gov-uk.visualstudio.com/DefaultCollection/c39e0c0b-7aff-4606-b160-3566f3bbce23/_api/_versioncontrol/itemContent?repositoryId=9b4f676e-ce9a-4f10-a043-0ec9e5bf053c&amp;path=%2Froatp%2FCI%2Froatp.xlsx&amp;version=GBmaster&amp;contentOnly=false&amp;__v=5" />
    <add key="FrameworksExpiredRequired" value="1" />
    <add key="EmployerSatisfactionRatesTableName" value="[dbo].[EmployerSatisf_2016_2017]" />
    <add key="LearnerSatisfactionRatesTableName" value="[dbo].[LearnerSatisf_2016_2017]" />
    <add key="FEChoicesUseStoredProc" value="true" />
    <!-- Features -->
    <add key="Feature.FilterInactiveProviders" value="false" />
    <add key="iKey" value="" />
    <!--values we dont need to change-->
    <add key="ApplicationName" value="Sfa.Das.Sas.Indexer" />
    <add key="DatasetName" value="LARS" />
    <add key="WorkerRolePauseTime" value="5" />
    <add key="PauseTime" value="1000" />
    <add key="StandardDescriptorName" value="GetStandardCommonComponent" />
    <add key="StandardProviderDocumentType" value="standardprovider" />
    <add key="FrameworkProviderDocumentType" value="frameworkprovider" />
    <add key="FrameworkIdFormat" value="{0}{1}{2}" />
    <add key="GovWebsiteUrl" value="https://www.gov.uk" />
    <add key="HttpClient.Timeout" value="500000" />
    <add key="UkrlpQueryId" value="2" />
    <add key="UkrlpStakeholderId" value="2" />
    <add key="UkrlpProviderStatus" value="A" />
    <add key="UkrlpRequestUkprnBatchSize" value="35" />
    <add key="UKRLP_EndpointUri" value="" />
    <!--Metadata creation -->
    <add key="CsvFileNameStandards" value="CSV/Standard.csv" />
    <add key="CsvFileNameFrameworks" value="CSV/Framework.csv" />
    <add key="CsvFileNameFrameworksAim" value="CSV/FrameworkAims.csv" />
    <add key="CsvFileNameApprenticeshipComponentType" value="CSV/ApprenticeshipComponentType.csv" />
    <add key="CsvFileNameLearningDelivery" value="CSV/LearningDelivery.csv" />
    <add key="CsvFileNameFunding" value="CSV/Funding.csv" />
    <add key="CsvFileNameApprenticeshipFunding" value="CSV/ApprenticeshipFunding.csv" />
    <add key="GitUsername" value="" />
    <add key="GitPassword" value="" />
    <add key="GitBranch" value="refs/heads/master" />
    <add key="AchievementRateDataBaseConnectionString" value="" />
    <add key="VstsGitBaseUrl" value="https://sfa-gov-uk.visualstudio.com/DefaultCollection/Digital%20Apprenticeship%20Service/_apis/git/repositories/SFA-DAS-MetaDataStorage/" />
    <add key="VstsGitStandardsFolderPath" value="standards/local/json" />
    <add key="VstsGitFrameworksFolderPath" value="frameworks/local/json" />
    <add key="ImServiceBaseUrl" value="https://hub.fasst.org.uk" />
    <add key="ImServiceUrl" value="Learning%20Aims/Downloads/Pages/default.aspx" />
    <!-- Elasticsearch -->
    <add key="StopWords" value="a|an|and|are|as|at|be|but|by|for|if|in|into|is|no|not|of|on|or|such|that|the|their|then|there|these|they|this|to|was|will|with" />
    <add key="StopWordsExtended" value="a|an|and|are|as|at|be|but|by|for|if|in|into|is|it|no|not|of|on|or|such|that|the|their|then|there|these|they|this|to|was|will|with" />
    <add key="Synonyms" value="information technology, it, i.t|human resources, hr|admin, administrator, administration, administrative|wood, carpenter, joiner, cabinet maker|photographer,film,camera operator,photoshop" />
    <!--Logging-->
    <add key="LoggingRedisConnectionString" value="" />
    <add key="LoggingRedisKey" value="logstash" />
  
    <add key="ValidOrganisationTypes" value="Assessment Organisation|Awarding Organisation|Employer or trade body|Higher Education Institution|Other|Professional body|Sector Skills Council|Training Provider" />
    <add key="ProviderExclusionList" value="10045135,10003161,10012467,10003915"/>

  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Elasticsearch.Net" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ProviderQuerySoapBinding" maxReceivedMessageSize="256000" />
      </basicHttpBinding>
      <customBinding>
        <binding name="EdubaseSoap11">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="true">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport maxReceivedMessageSize="2000000000" />
        </binding>
        <binding name="EdubaseFileManagerSoap11">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="true">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <mtomMessageEncoding messageVersion="Soap11" />
          <httpsTransport maxReceivedMessageSize="2000000000" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="ProviderQuerySoapBinding" contract="ProviderQueryServiceV4.ProviderQueryPortType" name="ProviderQueryPort" />
      <endpoint address="https://ea-edubase-api-prod.azurewebsites.net/edubase/service" binding="customBinding" bindingConfiguration="EdubaseSoap11" contract="EdubaseService.Edubase" name="EdubaseSoap11" />
      <endpoint address="https://ea-edubase-api-prod.azurewebsites.net/edubase/service" binding="customBinding" bindingConfiguration="EdubaseFileManagerSoap11" contract="EdubaseService.EdubaseFileManager" name="EdubaseFileManagerSoap11" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>