<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog, Version=4.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c" />
  </configSections>
  <appSettings>
    <!--Values differ per environment -->
    <add key="ElasticsearchUsername" value="fatindexer-svc" />
    <add key="ElasticsearchPassword" value="y26:12\;]r15.t359Oo" />
    <add key="EdubaseUsername" value="3741771" />
    <add key="EdubasePassword" value="rtqmHYnB" />
    <add key="ApprenticeshipIndexAlias" value="atapprenticeshipindexalias" />
    <add key="ProviderIndexAlias" value="atproviderindexalias" />
    <add key="LarsIndexAlias" value="atlarsindexalias" />
    <add key="AssessmentOrgsIndexAlias" value="atassessmentorgsindexalias" />
    <add key="Apprenticeship.MonitoringUrl" value="" />
    <add key="Provider.MonitoringUrl" value="" />
    <add key="Lars.MonitoringUrl" value="" />
    <add key="AssessmentOrgs.MonitoringUrl" value="" />
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true;" />
    <add key="EnvironmentName" value="TEST" />
    <add key="ElasticServerUrls" value="https://1f1ed5179c654df6a151342560333553.eu-west-1.aws.found.io:9243" />
    <add key="MetadataApiUri" value="http://das-metadatawebapici.cloudapp.net/api/" />
    <add key="ApprenticeshipIndexShards" value="1" />
    <add key="ApprenticeshipIndexReplicas" value="0" />
    <add key="ProviderIndexShards" value="1" />
    <add key="ProviderIndexReplicas" value="0" />
    <add key="LarsIndexShards" value="1" />
    <add key="LarsIndexReplicas" value="0" />
    <add key="CourseDirectoryUri" value="https://pp.api.nationalcareers.service.gov.uk/coursedirectory/findanapprenticeship/api/" />
    <!--<add key="CourseDirectoryUri" value="https://sit.api.nationalcareersservice.org.uk/coursedirectory/findanapprenticeship/api/" />-->
    <add key="CourseDirectoryApiKey" value="e8b007dc26e145abb5fdf23d3ff19b26"/>
    
    <!--<add key="VstsAssessmentOrgsUrl" value="https://sfa-gov-uk.visualstudio.com/c39e0c0b-7aff-4606-b160-3566f3bbce23/_apis/git/repositories/9b4f676e-ce9a-4f10-a043-0ec9e5bf053c/items?path=%2FassessmentOrgs%2FAT%2FassessmentOrgs.xlsx&versionDescriptor%5BversionOptions%5D=0&versionDescriptor%5BversionType%5D=0&versionDescriptor%5Bversion%5D=master&resolveLfs=true&%24format=octetStream&api-version=5.0&download=true" />-->
    <add key="VstsAssessmentOrgsUrl" value="https://github.com/mamirkhan/excelfile/raw/2baa75cd65a9927afe257183e2d6e730552f12a3/assessmentOrgs.xlsx" />
    <add key="LoggingNamePostfix" value="-es7" />
    <add key="FrameworksExpiredRequired" value="" />
    <add key="FEChoicesUseStoredProc" value="false" />
    <add key="EmployerSatisfactionRatesTableName" value="[dbo].[EmployerSatisfaction]"/>
    <add key="LearnerSatisfactionRatesTableName" value="[dbo].[LearnerSatisfaction]"/>
    <add key="ProviderFeedbackApiUri" value="https://das-test-pfbeapi-as.azurewebsites.net/"/>
    <!-- Features -->
    <add key="Feature.FilterInactiveProviders" value="false" />
    <add key="FeatureToggle.IgnoreSslCertificateFeature" value="false" />
    <add key="FeatureToggle.ProviderFeedbackFeature" value="false" />
    <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="" />
    <!--values we dont need to change-->
    <add key="ApplicationName" value="Sfa.Das.Sas.Indexer" />
    <add key="DatasetName" value="LARS" />
    <add key="StandardDescriptorName" value="GetStandardCommonComponent" />
    <add key="FrameworkIdFormat" value="{0}-{1}-{2}" />
    <add key="GovWebsiteUrl" value="https://www.gov.uk" />
    <add key="HttpClient.Timeout" value="500000" />
    <add key="UkrlpQueryId" value="2" />
    <add key="UkrlpStakeholderId" value="2" />
    <add key="UkrlpProviderStatus" value="A" />
    <add key="UkrlpRequestUkprnBatchSize" value="35" />
    <add key="UKRLP_EndpointUri" value="http://webservices.ukrlp.co.uk/UkrlpProviderQueryWS4/ProviderQueryServiceV4" />
    <!--Metadata creation -->
    <add key="CsvFileNameStandards" value="CSV/Standard.csv" />
    <add key="CsvFileNameFrameworks" value="CSV/Framework.csv" />
    <add key="CsvFileNameFrameworksAim" value="CSV/FrameworkAims.csv" />
    <add key="CsvFileNameApprenticeshipComponentType" value="CSV/ApprenticeshipComponentType.csv" />
    <add key="CsvFileNameLearningDelivery" value="CSV/LearningDelivery.csv" />
    <add key="CsvFileNameFunding" value="CSV/Funding.csv" />
    <add key="CsvFileNameApprenticeshipFunding" value="CSV/ApprenticeshipFunding.csv" />
    <add key="GitUsername" value="dasdeployer2" />
    <add key="GitPassword" value="4a2+v66GLwDH4q*@" />
    <add key="GitBranch" value="refs/heads/master" />
    <add key="AchievementRateDataBaseConnectionString" value="Server=tcp:das-test-shared-sql.database.windows.net,1433;Database=das-test-fechoices-db;User ID=fechoices-rw-svc;Password=_4hk(M*tuPBKWVo;Trusted_Connection=False;Pooling=False;Connect Timeout=30;MultipleActiveResultSets=True" />
    <add key="VstsGitBaseUrl" value="https://sfa-gov-uk.visualstudio.com/DefaultCollection/Digital%20Apprenticeship%20Service/_apis/git/repositories/SFA-DAS-MetaDataStorage/" />
    <add key="VstsGitStandardsFolderPath" value="standards/PREPROD/json" />
    <add key="VstsGitFrameworksFolderPath" value="frameworks/PREPROD/json" />
    <add key="ImServiceBaseUrl" value="https://hub.fasst.org.uk" />
    <add key="ImServiceUrl" value="Learning%20Aims/Downloads/Pages/default.aspx" />
    <add key="ImServiceLinkText" value="LARS CSV Version 7" />
    <!-- Elasticsearch -->
    <add key="StopWords" value="a|an|and|are|as|at|be|but|by|for|if|in|into|is|no|not|of|on|or|such|that|the|their|then|there|these|they|this|to|was|will|with" />
    <add key="StopWordsExtended" value="a|an|and|are|as|at|be|but|by|for|if|in|into|is|it|no|not|of|on|or|such|that|the|their|then|there|these|they|this|to|was|will|with" />
    <add key="Synonyms" value="information technology, it, i.t|human resources, hr|admin, administrator, administration, administrative|wood, carpenter, joiner, cabinet maker|photographer,film,camera operator,photoshop" />
    <!--Logging-->
    <add key="LoggingRedisConnectionString" value="" />
    <add key="LoggingRedisKey" value="logstash" />
    <add key="ValidOrganisationTypes" value="Assessment Organisations|Awarding Organisations|Trade Body|Professional Body|HEI|NSA or SSC|Training Provider|Other|Public Sector|College|Academy or Free School" />
    <add key="RoatpApiClientBaseUrl" value ="" />
    <add key="RoatpApiAuthenticationInstance"  value ="https://login.microsoftonline.com/" />
    <add key="RoatpApiAuthenticationTenantId" value ="citizenazuresfabisgov.onmicrosoft.com"/>
    <add key="RoatpApiAuthenticationClientId" value ="960510a1-87bd-4d98-bde3-00a9646abfdb"/>
    <add key="RoatpApiAuthenticationClientSecret" value ="1_Z[7?0n1]F064hs?67[r/PG9UBZi]UI"/>
    <add key="RoatpApiAuthenticationResourceId" value ="https://citizenazuresfabisgov.onmicrosoft.com/das-roatpservice-api"/>
    <add key="RoatpApiClientBaseUrl" value ="https://test-providers-api.apprenticeships.education.gov.uk"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off">
    <extensions>
      <add assembly="SFA.DAS.NLog.Targets.Redis" />
    </extensions>
    <variable name="appName" value="das-fat-worker-es7" />
    <variable name="simplelayout" value="${longdate} [${uppercase:${level}}] [${logger}] - ${message} ${onexception:${exception:format=tostring}} --&gt; ${all-event-properties}" />
    <variable name="localdir" value="c:/temp/FAT" />
    <targets>
      <target xsi:type="File" name="Disk" fileName="${localdir}/logs/${shortdate}/${appName}.${shortdate}.log" layout="${simplelayout}" />
      <target xsi:type="Redis" name="RedisLog" appName="${appName}" environmentKey="EnvironmentName" connectionStringKey="LoggingRedisConnectionString" includeAllProperties="true" keySettingsKey="LoggingRedisKey" layout="${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="Disk" />
    </rules>
  </nlog>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics"></add>
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ProviderQuerySoapBinding" maxReceivedMessageSize="256000" />
      </basicHttpBinding>
      <customBinding>
        <binding name="EdubaseSoap11">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="true">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport maxReceivedMessageSize="2000000000" />
        </binding>
        <binding name="EdubaseFileManagerSoap11">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="true">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <mtomMessageEncoding messageVersion="Soap11" />
          <httpsTransport maxReceivedMessageSize="2000000000" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="ProviderQuerySoapBinding" contract="ProviderQueryServiceV4.ProviderQueryPortType" name="ProviderQueryPort" />
      <endpoint address="https://ea-edubase-api-prod.azurewebsites.net/edubase/service" binding="customBinding" bindingConfiguration="EdubaseSoap11" contract="EdubaseService.Edubase" name="EdubaseSoap11" />
      <endpoint address="https://ea-edubase-api-prod.azurewebsites.net/edubase/service" binding="customBinding" bindingConfiguration="EdubaseFileManagerSoap11" contract="EdubaseService.EdubaseFileManager" name="EdubaseFileManagerSoap11" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>
