<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint address="#{UKRLP_EndpointUri}" xdt:Transform="SetAttributes(address)" xdt:Locator="Condition(@name='ProviderQueryPort')" />
    </client>
  </system.serviceModel>
</configuration>