<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ProviderQuerySoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="#{Service.UKRLPEndpointAddress}"
          binding="basicHttpBinding" bindingConfiguration="ProviderQuerySoapBinding"
          contract="Uklrp.ProviderQueryPortType" name="ProviderQueryPort"
          xdt:Transform="SetAttributes(address)" xdt:Locator="Condition(@name='ProviderQueryPort')" />
    </client>
  </system.serviceModel>
</configuration>